[submodule "Task-1.-Diffie-Hellman"]
	path = Task-1.-Diffie-Hellman
	url = https://github.com/Eterrny/Task-1.-Diffie-Hellman
[submodule "Task-2.-Needham-Schroeder"]
	path = Task-2.-Needham-Schroeder
	url = https://github.com/Eterrny/Task-2.-Needham-Schroeder
[submodule "Task3-EKE"]
	path = Task3
	url = https://github.com/Eterrny/Task-3.-EKE-Elgamal
[submodule "Task-4.-Guillou-Quisquater"]
	path = Task-4.-Guillou-Quisquater
	url = https://github.com/Eterrny/Task-4.-Guillou-Quisquater
